.haederr {
  color: white;
  text-align: center;
}

.back {
  background-color: #e1988c;
  background-image: url("./Balloons.png");
}

.formm {
  width: 870px;
  margin: 0px 200px 0px;
}

.bar {
  border: 2px solid #b57369;
  border-radius: 20px 20px 0px 0px;
  background-color: #b57369;
  display: flex;
  justify-content: space-around;
  padding-top: 13px;
  padding-bottom: 13px;
}

.barElements {
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
}

.main {
  background-color: #ffffff;
  color: #995d53;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-bottom: 20px;
}

.search {
  padding-left: 85px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.srch {
  width: 700px;
  height: 30px;
  border-style: none;
  background-color: #eeeeee;
}

.cards {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5px solid #f1f1f1;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.Information {
  cursor: default;
}

.editBtn {
  cursor: pointer;
}

.delBtn {
  cursor: pointer;
  color: #995d53;
  font-size: 20px;
}

a.new :hover {
  color: #b57369;
}

.new {
  cursor: pointer;
  font-size: 32px;
  padding-left: 426px;
  padding-right: 426px;
  user-select: none;
}

.form {
  display: grid;
  margin-left: 120px;
  margin-top: 30px;
  margin-bottom: 16px;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 80px 80px 80px;
  grid-template-areas:
    "Fname Sname Gender"
    "Date WL WL"
    "Pass WL WL";
}

.name1 {
  grid-area: Fname;
}

.name2 {
  grid-area: Sname;
}

.gender {
  grid-area: Gender;
}

.date {
  grid-area: Date;
}

.pass {
  grid-area: Pass;
}

.wishList {
  grid-area: WL;
}

.put {
  width: 119px;
  height: 20px;
  border: 1px solid #eeeeee;
  background-color: #f6f6f6;
  border-radius: 5px;
  color: #808080;
}

.WLput {
  width: 397px;
  height: 74px;
  border: 1px solid #eeeeee;
  background-color: #f6f6f6;
  border-radius: 5px;
  color: #808080;
}

.ok {
  width: 116px;
  height: 38px;
  font-size: 16px;
  color: #ffffff;
  background-color: #b57369;
  border: 0.5px solid #995d53;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  width: 116px;
  height: 38px;
  font-size: 16px;
  color: #995d53;
  background-color: #f6f6f6;
  border: 0.5px solid #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 497.4px;
  margin-bottom: 35px;
}
